<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <div th:replace="~{usr/v1/infra/include/headFull :: headFull}"></div>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      
      <!-- leftMenu 블록 -->
      <div th:replace="~{usr/v1/infra/include/leftMenu :: leftMenu}"></div>
     
     <!-- top 블록 -->
     <div th:replace="~{usr/v1/infra/include/top :: top}"></div>
     
      <div class="modal fade" id="searchBoxModal" tabindex="-1" aria-hidden="true" data-bs-backdrop="true" data-phoenix-modal="data-phoenix-modal" style="--phoenix-backdrop-opacity: 1;">
        <div class="modal-dialog">
          <div class="modal-content mt-15 rounded-pill">
            <div class="modal-body p-0">
              <div class="search-box navbar-top-search-box" data-list='{"valueNames":["title"]}' style="width: auto;">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                  <input class="form-control search-input fuzzy-search rounded-pill form-control-lg" type="search" placeholder="Search..." aria-label="Search" />
                  <span class="fas fa-search search-box-icon"></span>

                </form>
                <div class="btn-close position-absolute end-0 top-50 translate-middle cursor-pointer shadow-none" data-bs-dismiss="search">
                  <button class="btn btn-link btn-close-falcon p-0" aria-label="Close"></button>
                </div>
                <div class="dropdown-menu border border-300 font-base start-0 py-0 overflow-hidden w-100">
                  <div class="scrollbar-overlay" style="max-height: 30rem;">
                    <div class="list pb-3">
                      <h6 class="dropdown-header text-1000 fs--2 py-2">24 <span class="text-500">results</span></h6>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Recently Searched </h6>
                      <div class="py-2"><a class="dropdown-item" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"><span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> Store Macbook</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-solid fa-clock-rotate-left" data-fa-transform="shrink-2"></span> MacBook Air - 13″</div>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Products</h6>
                      <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="file-thumbnail me-2"><img class="h-100 w-100 fit-cover rounded-3" src="/usr/v1/template/phoenix-v1.13.0/assets/img/products/60x60/3.png" alt="" /></div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">MacBook Air - 13″</h6>
                            <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600">8GB Memory - 1.6GHz - 128GB Storage</span></p>
                          </div>
                        </a>
                        <a class="dropdown-item py-2 d-flex align-items-center" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="file-thumbnail me-2"><img class="img-fluid" src="/usr/v1/template/phoenix-v1.13.0/assets/img/products/60x60/3.png" alt="" /></div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">MacBook Pro - 13″</h6>
                            <p class="fs--2 mb-0 d-flex text-700"><span class="fw-medium text-600 ms-2">30 Sep at 12:30 PM</span></p>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Quick Links</h6>
                      <div class="py-2"><a class="dropdown-item" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"><span class="fa-solid fa-link text-900" data-fa-transform="shrink-2"></span> Support MacBook House</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-solid fa-link text-900" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Files</h6>
                      <div class="py-2"><a class="dropdown-item" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"><span class="fa-solid fa-file-zipper text-900" data-fa-transform="shrink-2"></span> Library MacBook folder.rar</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-solid fa-file-lines text-900" data-fa-transform="shrink-2"></span> Feature MacBook extensions.txt</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-solid fa-image text-900" data-fa-transform="shrink-2"></span> MacBook Pro_13.jpg</div>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Members</h6>
                      <div class="py-2"><a class="dropdown-item py-2 d-flex align-items-center" href="/usr/v1/template/phoenix-v1.13.0/pages/members.html">
                          <div class="avatar avatar-l status-online  me-2 text-900">
                            <img class="rounded-circle " src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/40x40/10.webp" alt="" />

                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">Carry Anna</h6>
                            <p class="fs--2 mb-0 d-flex text-700">anna@technext.it</p>
                          </div>
                        </a>
                        <a class="dropdown-item py-2 d-flex align-items-center" href="/usr/v1/template/phoenix-v1.13.0/pages/members.html">
                          <div class="avatar avatar-l  me-2 text-900">
                            <img class="rounded-circle " src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/40x40/12.webp" alt="" />

                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0 text-1000 title">John Smith</h6>
                            <p class="fs--2 mb-0 d-flex text-700">smith@technext.it</p>
                          </div>
                        </a>

                      </div>
                      <hr class="text-200 my-0" />
                      <h6 class="dropdown-header text-1000 fs--1 border-bottom border-200 py-2 lh-sm">Related Searches</h6>
                      <div class="py-2"><a class="dropdown-item" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"><span class="fa-brands fa-firefox-browser text-900" data-fa-transform="shrink-2"></span> Search in the Web MacBook</div>
                          </div>
                        </a>
                        <a class="dropdown-item" href="/usr/v1/template/phoenix-v1.13.0/apps/e-commerce/landing/product-details.html">
                          <div class="d-flex align-items-center">

                            <div class="fw-normal text-1000 title"> <span class="fa-brands fa-chrome text-900" data-fa-transform="shrink-2"></span> Store MacBook″</div>
                          </div>
                        </a>

                      </div>
                    </div>
                    <div class="text-center">
                      <p class="fallback fw-bold fs-1 d-none">No Result Found.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content pt-0">
        <div class="email-container">
          
          <div class="row g-lg-6 mb-8">
            <div class="col-lg-auto">
              
              <div class="phoenix-offcanvas-backdrop d-lg-none" data-phoenix-backdrop="data-phoenix-backdrop" style="top: 0;"></div>
            </div>
            <div class="col-3 d-none d-xxl-block">
              <div class="scrollbar email-content">
                <div class="px-lg-1">
                  <div class="d-flex align-items-center flex-wrap position-sticky pb-2 bg-soft z-index-2 email-toolbar">
                    <div class="d-flex align-items-center flex-1 me-2">
                      <button class="btn btn-sm p-0 me-2" type="button" onclick="location.reload()"><span class="text-primary fas fa-redo fs--2"></span></button>
                      <p class="fw-semi-bold fs--2 text-600 mb-0 lh-sm text-nowrap">Last refreshed 1m ago</p>
                    </div>
                    <div class="d-flex">
                      <p class="text-600 fs--1 fw-semi-bold mb-0 me-3"> <span class="text-900">1-7 </span>of <span class="text-900">205</span></p>
                      <button class="btn p-0 me-3" type="button"><span class="text-500 fa-solid fa-angle-left fs--2"></span></button>
                      <button class="btn p-0" type="button"><span class="text-primary fa-solid fa-angle-right fs--2"></span></button>
                    </div>
                  </div>
                  <div class="border-top border-200 py-2 d-flex justify-content-between">
                    <div class="form-check mb-0 fs-0">
                      <input class="form-check-input" type="checkbox" data-bulk-select-row="data-bulk-select-row" />
                    </div>
                    <div>
                      <button class="btn p-0 me-2 text-500 hover-text-600" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Archive"><span class="fas fa-archive fs--2"></span></button>
                      <button class="btn p-0 me-2 text-500 hover-text-600" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Delete"><span class="fas fa-trash fs--2"></span></button>
                      <button class="btn p-0 me-2 text-500 hover-text-600" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Star"><span class="fas fa-star fs--2"></span></button>
                      <button class="btn p-0 text-500 hover-text-600" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tags"><span class="fas fa-tag fs--2"></span></button>
                    </div>
                  </div>
                  <div class="border-top border-200 hover-actions-trigger py-3">
                    <div class="row align-items-sm-center gx-2">
                      <div class="col-auto">
                        <div class="d-flex flex-column flex-sm-row">
                          <input class="form-check-input mb-2 m-sm-0 me-sm-2" type="checkbox" id="checkbox-1" data-bulk-select-row="data-bulk-select-row" />
                          <button class="btn p-0"><span class="fas text-warning fa-star"></span></button>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="avatar avatar-s  rounded-circle">
                          <img class="rounded-circle " src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/60.webp" alt="" />

                        </div>
                      </div>
                      <div class="col-auto"><a class="text-1100 fw-bold inbox-link fs--1" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html">Jessica Ball</a></div>
                      <div class="col-auto ms-auto">
                        <div class="hover-actions end-0">
                          <button class="btn btn-phoenix-secondary btn-icon dropdown-toggle dropdown-caret-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                          <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark Unread</a><a class="dropdown-item" href="#!">Mark Important</a><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Print</a><a class="dropdown-item" href="#!">Report Spam</a><a class="dropdown-item" href="#!">Report Phishing</a><a class="dropdown-item" href="#!">Mute Jessica Ball</a><a class="dropdown-item" href="#!">Block Jessica Ball</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                        </div><span class="fs--2 fw-bold">1 M</span>
                      </div>
                    </div>
                    <div class="ms-4 mt-n3 mt-sm-0 ms-sm-11"><a class="d-block inbox-link" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html"><span class="fs--1 line-clamp-1 text-1100">Query about purchased soccer socks</span>
                        <p class="fs--1 ps-0 text-700 mb-0 line-clamp-2">Greetings. I have purchased some socks under the bundle offer you availed this week. According to the offer I was thrilled to get a 25% off of any product I bought. Regardless, I had to pay the exact full price for them...</p>
                      </a>
                    </div>
                  </div>
                  <div class="border-top border-200 hover-actions-trigger py-3">
                    <div class="row align-items-sm-center gx-2">
                      <div class="col-auto">
                        <div class="d-flex flex-column flex-sm-row">
                          <input class="form-check-input mb-2 m-sm-0 me-sm-2" type="checkbox" id="checkbox-2" data-bulk-select-row="data-bulk-select-row" />
                          <button class="btn p-0"><span class="far text-300 fa-star"></span></button>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="avatar avatar-s  rounded-circle">
                          <img class="rounded-circle " src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/58.webp" alt="" />

                        </div>
                      </div>
                      <div class="col-auto"><a class="text-1100 fw-bold inbox-link fs--1" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html">Danny Reid</a></div>
                      <div class="col-auto ms-auto">
                        <div class="hover-actions end-0">
                          <button class="btn btn-phoenix-secondary btn-icon dropdown-toggle dropdown-caret-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                          <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark Unread</a><a class="dropdown-item" href="#!">Mark Important</a><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Print</a><a class="dropdown-item" href="#!">Report Spam</a><a class="dropdown-item" href="#!">Report Phishing</a><a class="dropdown-item" href="#!">Mute Jessica Ball</a><a class="dropdown-item" href="#!">Block Jessica Ball</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                        </div><span class="fs--2 fw-bold">3 M</span>
                      </div>
                    </div>
                    <div class="ms-4 mt-n3 mt-sm-0 ms-sm-11"><a class="d-block inbox-link" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html"><span class="fs--1 line-clamp-1 text-1100">How to take the headache out of Order</span>
                        <p class="fs--1 ps-0 text-700 mb-0 line-clamp-2">Hello! As I've mentioned before, we have this huge order deals to ship within this month. Also, the financial report is attached to this email. Hopefully, you'll find it useful for the company.</p>
                      </a><a class="d-inline-flex align-items-center border rounded-pill px-3 py-1 me-2 mt-2 inbox-link" href="#!"><span class="fas fa-file-pdf text-warning fs--1"></span><span class="ms-2 fw-bold fs--2 text-900">Financial_Reports.pdf</span></a><a class="d-inline-flex align-items-center border rounded-pill px-3 py-1 me-2 mt-2 inbox-link" href="#!"><span class="fas fa-file-zipper text-warning fs--1"></span><span class="ms-2 fw-bold fs--2 text-900">Frame20.zip</span></a>
                    </div>
                  </div>
                  <div class="border-top border-200 hover-actions-trigger py-3">
                    <div class="row align-items-sm-center gx-2">
                      <div class="col-auto">
                        <div class="d-flex flex-column flex-sm-row">
                          <input class="form-check-input mb-2 m-sm-0 me-sm-2" type="checkbox" id="checkbox-3" data-bulk-select-row="data-bulk-select-row" />
                          <button class="btn p-0"><span class="fas text-warning fa-star"></span></button>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="avatar avatar-s  rounded-circle">
                          <img class="rounded-circle " src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/57.webp" alt="" />

                        </div>
                      </div>
                      <div class="col-auto"><a class="text-900 fw-semi-bold inbox-link fs--1" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html">Harley Brown</a></div>
                      <div class="col-auto ms-auto">
                        <div class="hover-actions end-0">
                          <button class="btn btn-phoenix-secondary btn-icon dropdown-toggle dropdown-caret-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                          <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark Unread</a><a class="dropdown-item" href="#!">Mark Important</a><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Print</a><a class="dropdown-item" href="#!">Report Spam</a><a class="dropdown-item" href="#!">Report Phishing</a><a class="dropdown-item" href="#!">Mute Jessica Ball</a><a class="dropdown-item" href="#!">Block Jessica Ball</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                        </div><span class="fs--2">5 M</span>
                      </div>
                    </div>
                    <div class="ms-4 mt-n3 mt-sm-0 ms-sm-11"><a class="d-block inbox-link" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html"><span class="fs--1 line-clamp-1 text-1000">The Arnold Schwarzenegger of Order</span>
                        <p class="fs--1 ps-0 text-700 mb-0 line-clamp-2">I’ve come across your posts and found some favorable deals on your page. I’ve added a load of products to the cart and I don’t know the payment options you avail. Also, can you enlighten me about any discount or...</p>
                      </a>
                    </div>
                  </div>
                  <div class="border-top border-200 hover-actions-trigger py-3">
                    <div class="row align-items-sm-center gx-2">
                      <div class="col-auto">
                        <div class="d-flex flex-column flex-sm-row">
                          <input class="form-check-input mb-2 m-sm-0 me-sm-2" type="checkbox" id="checkbox-4" data-bulk-select-row="data-bulk-select-row" />
                          <button class="btn p-0"><span class="far text-300 fa-star"></span></button>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="avatar avatar-s  rounded-circle">
                          <img class="rounded-circle " src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/59.webp" alt="" />

                        </div>
                      </div>
                      <div class="col-auto"><a class="text-1100 fw-bold inbox-link fs--1" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html">Hollie Stephens</a></div>
                      <div class="col-auto ms-auto">
                        <div class="hover-actions end-0">
                          <button class="btn btn-phoenix-secondary btn-icon dropdown-toggle dropdown-caret-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                          <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark Unread</a><a class="dropdown-item" href="#!">Mark Important</a><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Print</a><a class="dropdown-item" href="#!">Report Spam</a><a class="dropdown-item" href="#!">Report Phishing</a><a class="dropdown-item" href="#!">Mute Jessica Ball</a><a class="dropdown-item" href="#!">Block Jessica Ball</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                        </div><span class="fs--2 fw-bold">8 M</span>
                      </div>
                    </div>
                    <div class="ms-4 mt-n3 mt-sm-0 ms-sm-11"><a class="d-block inbox-link" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html"><span class="fs--1 line-clamp-1 text-1100">My order is not being taken</span>
                        <p class="fs--1 ps-0 text-700 mb-0 line-clamp-2">Hello. I’m knocking to let you know that I am trying to place some orders on your site. But my orders are not being taken, maybe it’s technical issues. Can you help me with it as I really need the products I am trying to...</p>
                      </a>
                    </div>
                  </div>
                  <div class="border-top border-200 hover-actions-trigger py-3">
                    <div class="row align-items-sm-center gx-2">
                      <div class="col-auto">
                        <div class="d-flex flex-column flex-sm-row">
                          <input class="form-check-input mb-2 m-sm-0 me-sm-2" type="checkbox" id="checkbox-5" data-bulk-select-row="data-bulk-select-row" />
                          <button class="btn p-0"><span class="fas text-warning fa-star"></span></button>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="avatar avatar-s  rounded-circle">
                          <img class="rounded-circle avatar-placeholder" src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/avatar.webp" alt="" />

                        </div>
                      </div>
                      <div class="col-auto"><a class="text-900 fw-semi-bold inbox-link fs--1" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html">Natasha West</a></div>
                      <div class="col-auto ms-auto">
                        <div class="hover-actions end-0">
                          <button class="btn btn-phoenix-secondary btn-icon dropdown-toggle dropdown-caret-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                          <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark Unread</a><a class="dropdown-item" href="#!">Mark Important</a><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Print</a><a class="dropdown-item" href="#!">Report Spam</a><a class="dropdown-item" href="#!">Report Phishing</a><a class="dropdown-item" href="#!">Mute Jessica Ball</a><a class="dropdown-item" href="#!">Block Jessica Ball</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                        </div><span class="fs--2">20 M</span>
                      </div>
                    </div>
                    <div class="ms-4 mt-n3 mt-sm-0 ms-sm-11"><a class="d-block inbox-link" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html"><span class="fs--1 line-clamp-1 text-1000">Shipment is missing</span>
                        <p class="fs--1 ps-0 text-700 mb-0 line-clamp-2">Greetings! I’ve got an email saying I was to get the products yesterday. But got a call instead saying the shipment was misplaced. Can you put some light on it? Really need the products.</p>
                      </a>
                    </div>
                  </div>
                  <div class="border-top border-200 hover-actions-trigger py-3">
                    <div class="row align-items-sm-center gx-2">
                      <div class="col-auto">
                        <div class="d-flex flex-column flex-sm-row">
                          <input class="form-check-input mb-2 m-sm-0 me-sm-2" type="checkbox" id="checkbox-6" data-bulk-select-row="data-bulk-select-row" />
                          <button class="btn p-0"><span class="fas text-warning fa-star"></span></button>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="avatar avatar-s ">
                          <div class="avatar-name rounded-circle"><span>R</span></div>
                        </div>
                      </div>
                      <div class="col-auto"><a class="text-900 fw-semi-bold inbox-link fs--1" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html">Max Williamson</a></div>
                      <div class="col-auto ms-auto">
                        <div class="hover-actions end-0">
                          <button class="btn btn-phoenix-secondary btn-icon dropdown-toggle dropdown-caret-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                          <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark Unread</a><a class="dropdown-item" href="#!">Mark Important</a><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Print</a><a class="dropdown-item" href="#!">Report Spam</a><a class="dropdown-item" href="#!">Report Phishing</a><a class="dropdown-item" href="#!">Mute Jessica Ball</a><a class="dropdown-item" href="#!">Block Jessica Ball</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                        </div><span class="fs--2">30 M</span>
                      </div>
                    </div>
                    <div class="ms-4 mt-n3 mt-sm-0 ms-sm-11"><a class="d-block inbox-link" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html"><span class="fs--1 line-clamp-1 text-1000">How can I order something urgently?</span>
                        <p class="fs--1 ps-0 text-700 mb-0 line-clamp-2">I saw your promotion on 25% sales. Do you avail emergency orders and urgent shipments? If you do, I need to place some orders. Please reply, thanks.</p>
                      </a><a class="d-inline-flex align-items-center border rounded-pill px-3 py-1 me-2 mt-2 inbox-link" href="#!"><span class="fa-solid fa-music text-primary fs--1"></span><span class="ms-2 fw-bold fs--2 text-900">syllabus</span></a>
                    </div>
                  </div>
                  <div class="border-top border-200 hover-actions-trigger pt-3">
                    <div class="row align-items-sm-center gx-2">
                      <div class="col-auto">
                        <div class="d-flex flex-column flex-sm-row">
                          <input class="form-check-input mb-2 m-sm-0 me-sm-2" type="checkbox" id="checkbox-7" data-bulk-select-row="data-bulk-select-row" />
                          <button class="btn p-0"><span class="far text-300 fa-star"></span></button>
                        </div>
                      </div>
                      <div class="col-auto">
                        <div class="avatar avatar-s  rounded-circle">
                          <img class="rounded-circle " src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/30.webp" alt="" />

                        </div>
                      </div>
                      <div class="col-auto"><a class="text-900 fw-semi-bold inbox-link fs--1" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html">Ethan Hawkins</a></div>
                      <div class="col-auto ms-auto">
                        <div class="hover-actions end-0">
                          <button class="btn btn-phoenix-secondary btn-icon dropdown-toggle dropdown-caret-none" type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false" data-bs-reference="parent"><span class="fa-solid fa-ellipsis"></span></button>
                          <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="#!">Mark Unread</a><a class="dropdown-item" href="#!">Mark Important</a><a class="dropdown-item" href="#!">Archive</a><a class="dropdown-item" href="#!">Download</a><a class="dropdown-item" href="#!">Print</a><a class="dropdown-item" href="#!">Report Spam</a><a class="dropdown-item" href="#!">Report Phishing</a><a class="dropdown-item" href="#!">Mute Jessica Ball</a><a class="dropdown-item" href="#!">Block Jessica Ball</a><a class="dropdown-item text-danger" href="#!">Delete</a></div>
                        </div><span class="fs--2">32 M</span>
                      </div>
                    </div>
                    <div class="ms-4 mt-n3 mt-sm-0 ms-sm-11"><a class="d-block inbox-link" href="/usr/v1/template/phoenix-v1.13.0/apps/email/email-detail.html"><span class="fs--1 line-clamp-1 text-1000">How the delicacy of the products will be handled??</span>
                        <p class="fs--1 ps-0 text-700 mb-0 line-clamp-2">Hello! I need to purchase some delicate products. Can you tell me how you handle the delicacy of the products to be shipped? I don’t want to get my hands on broken things, so. Thank you! </p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Q&A 작성 -->
             <div class="row mt-10 gx-6">
              <div class="col">
                <h3>Q&A 작성</h3>
              </div>
             </div>
            <div class="col">
              <div class="card email-content">
                <div class="card-body">
                  <form class="d-flex flex-column h-100">
                    <div class="row g-3 mb-2">
                      <div class="col-12">
                        <h4>제목</h4>
                        <input class="form-control" type="text" placeholder="Subject" />
                      </div>
                    </div>
                    <div class="mb-3 mt-2 flex-1">
                      <h4>내용</h4>
                      <textarea class="tinymce email-textarea" name="content" data-tinymce='{"height":"100%"}'></textarea>
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="d-flex">
                        <label class="btn btn-link py-0 px-2 text-900 fs--1" for="emailAttachment"> <span class="fa-solid fa-paperclip"></span></label>
                        <input class="d-none" id="emailAttachment" type="file" />
                        <label class="btn btn-link py-0 px-2 text-900 fs--1" for="emailPhotos"><span class="fa-solid fa-image"></span></label>
                        <input class="d-none" id="emailPhotos" type="file" accept="image/*" />
                      </div>
                      <div class="d-flex"> 
                        <button class="btn btn-primary fs--2 mt-3" type="submit">Send<span class="fa-solid fa-paper-plane ms-1"></span></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v1.13.0</p>
            </div>
          </div>
        </footer>
      </div>
      <script>
        var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
        var navbarTop = document.querySelector('.navbar-top');
        if (navbarTopStyle === 'darker') {
          navbarTop.classList.add('navbar-darker');
        }

        var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
        var navbarVertical = document.querySelector('.navbar-vertical');
        if (navbarVertical && navbarVerticalStyle === 'darker') {
          navbarVertical.classList.add('navbar-darker');
        }
      </script>
      
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <div class="offcanvas offcanvas-end settings-panel border-0" id="settings-offcanvas" tabindex="-1" aria-labelledby="settings-offcanvas">
      <div class="offcanvas-header align-items-start border-bottom flex-column">
        <div class="pt-1 w-100 mb-6 d-flex justify-content-between align-items-start">
          <div>
            <h5 class="mb-2 me-2 lh-sm"><span class="fas fa-palette me-2 fs-0"></span>Theme Customizer</h5>
            <p class="mb-0 fs--1">Explore different styles according to your preferences</p>
          </div>
          <button class="btn p-1 fw-bolder" type="button" data-bs-dismiss="offcanvas" aria-label="Close"><span class="fas fa-times fs-0"> </span></button>
        </div>
        <button class="btn btn-phoenix-secondary w-100" data-theme-control="reset"><span class="fas fa-arrows-rotate me-2 fs--2"></span>Reset to default</button>
      </div>
      <div class="offcanvas-body scrollbar px-card" id="themeController">
        <div class="setting-panel-item mt-0">
          <h5 class="setting-panel-item-title">Color Scheme</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="themeSwitcherLight" name="theme-color" type="radio" value="light" data-theme-control="phoenixTheme" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherLight"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/default-light.png" alt=""/></span><span class="label-text">Light</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="themeSwitcherDark" name="theme-color" type="radio" value="dark" data-theme-control="phoenixTheme" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="themeSwitcherDark"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/default-dark.png" alt=""/></span><span class="label-text"> Dark</span></label>
            </div>
          </div>
        </div>
        <div class="border rounded-3 p-4 setting-panel-item bg-white">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="setting-panel-item-title mb-1">RTL </h5>
            <div class="form-check form-switch mb-0">
              <input class="form-check-input ms-auto" type="checkbox" data-theme-control="phoenixIsRTL" />
            </div>
          </div>
          <p class="mb-0 text-700">Change text direction</p>
        </div>
        <div class="border rounded-3 p-4 setting-panel-item bg-white">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="setting-panel-item-title mb-1">Support Chat </h5>
            <div class="form-check form-switch mb-0">
              <input class="form-check-input ms-auto" type="checkbox" data-theme-control="phoenixSupportChat" />
            </div>
          </div>
          <p class="mb-0 text-700">Toggle support chat</p>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Navigation Type</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="navbarPositionVertical" name="navigation-type" type="radio" value="vertical" data-theme-control="phoenixNavbarPosition" data-page-url="/usr/v1/template/phoenix-v1.13.0/documentation/layouts/vertical-navbar.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarPositionVertical"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/default-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/default-dark.png" alt=""/></span><span class="label-text">Vertical</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarPositionHorizontal" name="navigation-type" type="radio" value="horizontal" data-theme-control="phoenixNavbarPosition" data-page-url="/usr/v1/template/phoenix-v1.13.0/documentation/layouts/horizontal-navbar.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarPositionHorizontal"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/top-default-dark.png" alt=""/></span><span class="label-text"> Horizontal</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarPositionCombo" name="navigation-type" type="radio" value="combo" data-theme-control="phoenixNavbarPosition" data-page-url="/usr/v1/template/phoenix-v1.13.0/documentation/layouts/combo-navbar.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarPositionCombo"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/nav-combo-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/nav-combo-dark.png" alt=""/></span><span class="label-text"> Combo</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarPositionTopDouble" name="navigation-type" type="radio" value="dual-nav" data-theme-control="phoenixNavbarPosition" data-page-url="/usr/v1/template/phoenix-v1.13.0/documentation/layouts/dual-nav.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarPositionTopDouble"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/dual-light.png" alt=""/><img class="img-fluid img-prototype d-light-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/dual-dark.png" alt=""/></span><span class="label-text"> Dual nav</span></label>
            </div>
          </div>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Vertical Navbar Appearance</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="navbar-style-default" type="radio" name="config.name" value="default" data-theme-control="phoenixNavbarVerticalStyle" />
              <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-default"> <img class="img-fluid img-prototype d-dark-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/default-light.png" alt="" /><img class="img-fluid img-prototype d-light-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/default-dark.png" alt="" /><span class="label-text d-dark-none"> Default</span><span class="label-text d-light-none">Default</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbar-style-dark" type="radio" name="config.name" value="darker" data-theme-control="phoenixNavbarVerticalStyle" />
              <label class="btn d-block w-100 btn-navbar-style fs--1" for="navbar-style-dark"> <img class="img-fluid img-prototype d-dark-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/vertical-darker.png" alt="" /><img class="img-fluid img-prototype d-light-none" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/vertical-lighter.png" alt="" /><span class="label-text d-dark-none"> Darker</span><span class="label-text d-light-none">Lighter</span></label>
            </div>
          </div>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Horizontal Navbar Shape</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="navbarShapeDefault" name="navbar-shape" type="radio" value="default" data-theme-control="phoenixNavbarTopShape" data-page-url="/usr/v1/template/phoenix-v1.13.0/documentation/layouts/horizontal-navbar.html" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarShapeDefault"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/top-default-dark.png" alt=""/></span><span class="label-text">Default</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarShapeSlim" name="navbar-shape" type="radio" value="slim" data-theme-control="phoenixNavbarTopShape" data-page-url="/usr/v1/template/phoenix-v1.13.0/documentation/layouts/horizontal-navbar.html#horizontal-navbar-slim" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarShapeSlim"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/top-slim.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/top-slim-dark.png" alt=""/></span><span class="label-text"> Slim</span></label>
            </div>
          </div>
        </div>
        <div class="setting-panel-item">
          <h5 class="setting-panel-item-title">Horizontal Navbar Appearance</h5>
          <div class="row gx-2">
            <div class="col-6">
              <input class="btn-check" id="navbarTopDefault" name="navbar-top-style" type="radio" value="default" data-theme-control="phoenixNavbarTopStyle" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarTopDefault"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/top-default.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/top-style-darker.png" alt=""/></span><span class="label-text">Default</span></label>
            </div>
            <div class="col-6">
              <input class="btn-check" id="navbarTopDarker" name="navbar-top-style" type="radio" value="darker" data-theme-control="phoenixNavbarTopStyle" />
              <label class="btn d-inline-block btn-navbar-style fs--1" for="navbarTopDarker"> <span class="mb-2 rounded d-block"><img class="img-fluid img-prototype d-dark-none mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/navbar-top-style-light.png" alt=""/><img class="img-fluid img-prototype d-light-none mb-0" src="/usr/v1/template/phoenix-v1.13.0/assets/img/generic/top-style-lighter.png" alt=""/></span><span class="label-text d-dark-none">Darker</span><span class="label-text d-light-none">Lighter</span></label>
            </div>
          </div>
        </div><a class="bun btn-primary d-grid mb-3 text-white dark__text-100 mt-5 btn btn-primary" href="https://themes.getbootstrap.com/product/phoenix-admin-dashboard-webapp-template/" target="_blank">Purchase template</a>
      </div>
    </div><a class="card setting-toggle" href="#settings-offcanvas" data-bs-toggle="offcanvas">
      
    </a>


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/usr/v1/template/phoenix-v1.13.0/vendors/tinymce/tinymce.min.js"></script>
    
    <div th:replace="~{usr/v1/infra/include/linkJsFull :: linkJsFull}"></div>

  </body>

</html>