<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<div th:replace="~{usr/v1/infra/include/headFull :: headFull}"></div>
  
  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
		<div th:replace="~{usr/v1/infra/include/leftMenu :: leftMenu}"></div>          
      <div th:replace="~{usr/v1/infra/include/top :: top}"></div>
      <div class="content">
        <div class="row">
          <div class="col-6">
            <div class="d-flex align-items-center"><img class="me-3" src="/usr/v1/template/phoenix-v1.13.0/assets/img/kanban/board.png" alt="" />
              <h1 class="mb-0 text-1100 fw-semi-bold">그룹생성</h1>
            </div>
          </div>
        </div>
        <div class="kanban-create-board row mt-12">
          <div class="col-xxl-5 col-xl-6 col-12 order-1 order-xl-0">
            <div class="theme-wizard theme-wizard-progress" data-theme-wizard="data-theme-wizard" data-create-board="data-create-board">
              <div class="mt-6">
                <div class="pt-4 pb-0">
                  <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" aria-labelledby="create-board-tab1" id="create-board-tab1">
                      
                      <form id="form" name="form" method="post" novalidate="novalidate" data-wizard-form="1">
                        <p class="mb-4">그룹 이름을 입력하세요!</p>
                        <div class="form-floating">
						  <input type="hidden" id="ifmmSeq" name="ifmmSeq">
                          <input class="form-control" type="text" id="csgrName" name="csgrName" placeholder="그룹 이름을 입력하세요!"  />
                          <label for="create-boardwizard-name">그룹이름</label>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="border-top-0 mt-10" data-wizard-footer="data-wizard-footer">
                <div class="d-flex pager wizard list-inline mb-0">
                  <button class="d-none btn btn-link ps-0" type="button" data-wizard-prev-btn="data-wizard-prev-btn"><span class="fas fa-chevron-left me-1" data-fa-transform="shrink-3"></span>Previous</button>
                  <div class="flex-1 text-end">
                    <button class="btn btn-primary px-6 px-sm-6" id="btnSave" type="button" data-wizard-next-btn="data-wizard-next-btn">저장<span class="fas fa-chevron-right ms-1" data-fa-transform="shrink-3"> </span></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xxl-7 col-xl-6 col-12 text-center kanban-board-bg"><img class="d-dark-none mt-5 position-sticky" src="/usr/v1/template/phoenix-v1.13.0/assets/img/kanban/board-ligth.png" alt="" style="top: 200px" /><img class="d-light-none position-sticky" src="usr/v1/template/phoenix-v1.13.0/assets/img/kanban/board-dark.png" alt="" style="top: 200px" /></div>
        </div>
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v1.13.0</p>
            </div>
          </div>
        </footer>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <div th:replace="~{usr/v1/infra/include/linkJsFull :: linkJsFull}"></div>
    
    <script>
		document.getElementById("btnSave").onclick = function(){
			form.action="/v1/csfn/group/groupUsrInsert";
			form.submit();
		}
	</script>

  </body>

</html>