<!DOCTYPE html>
<html lang="en-US" dir="ltr">

 <div th:replace="~{usr/v1/infra/include/head :: head}"></div>

  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
	  <div th:replace="~{usr/v1/infra/include/leftMenu :: leftMenu}"></div>          
      <div th:replace="~{usr/v1/infra/include/top :: top}"></div>
      
      <div class="content">
        <form class="mb-9">
          <div class="row g-3 flex-between-end mb-5">
            <div class="col-auto">
              <h2 class="mb-3">장소추가</h2>
              <h5 class="text-700 fw-semi-bold">추억을 남길 장소를 추가하세요!</h5>
            </div>
          </div>
          <div class="row g-5">
            <div class="col-12 col-xl-12">
			  <h4 class="mb-3">장소분류</h4>
              <select class="form-select mb-4" aria-label="Default select example">
                <option selected="">장소분류</option>
                <option value="1">맛집</option>
                <option value="2">명소</option>
              </select>
              <div class="row">
	              <div class="col-6">
		              <h4 class="mb-3">시/군/구</h4>
		              <select class="form-select mb-4" aria-label="Default select example">
		                <option selected="">시/군/구</option>
		                <option value="1">마포구</option>
		                <option value="2">서대문구</option>
		                <option value="3">성동구</option>
		              </select>
	              </div>
	              <div class="col-6">
		              <h4 class="mb-3">읍/면/동</h4>
		              <select class="form-select mb-4" aria-label="Default select example">
		                <option selected="">읍/면/동</option>
		                <option value="1">상계동</option>
		                <option value="2">인창동</option>
		                <option value="3">삼패동</option>
		              </select>
		          </div>
		      </div>
              <h4 class="mb-3">장소이름</h4>
              <input class="form-control mb-5" type="text" placeholder="Write title here..." />
              <h4 class="mb-3">URL</h4>
              <input class="form-control mb-5" type="text" placeholder="Write title here..." />
              <div class="mb-6">
                <h4 class="mb-3">메모</h4>
                <textarea class="tinymce" name="content" data-tinymce='{"height":"15rem","placeholder":"Write a description here..."}'></textarea>
              </div>
              <h4 class="mb-3">장소사진 첨부</h4>
              <div class="dropzone dropzone-multiple p-0 mb-5" id="my-awesome-dropzone" data-dropzone="data-dropzone">
                <div class="fallback">
                  <input name="file" type="file" multiple="multiple" />
                </div>
                <div class="dz-preview d-flex flex-wrap">
                  <div class="border bg-white rounded-3 d-flex flex-center position-relative me-2 mb-2" style="height:80px;width:80px;"><img class="dz-image" src="/usr/v1/template/phoenix-v1.13.0/assets/img/products/23.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" /><a class="dz-remove text-400" href="#!" data-dz-remove="data-dz-remove"><span data-feather="x"></span></a></div>
                </div>
                <div class="dz-message text-600" data-dz-message="data-dz-message">Drag your photo here<span class="text-800 px-1">or</span>
                  <button class="btn btn-link p-0" type="button">Browse from device</button><br /><img class="mt-3 me-2" src="/usr/v1/template/phoenix-v1.13.0/assets/img/icons/image-icon.png" width="40" alt="" />
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between mt-4">
              <div class="">
                <button class="btn btn-phoenix-primary me-2 mb-2 mb-sm-0" type="button">뒤로가기</button>
              </div>
              <div class="">
                <button class="btn btn-primary mb-2 mb-sm-0" type="submit">저장</button>
              </div>
            </div>
            <!-- <div class="col-12 col-xl-4">
              <div class="row g-2">
                <div class="col-12 col-xl-12">
                  <div class="card mb-3">
                    <div class="card-body">
                      <h4 class="card-title mb-4">Organize</h4>
                      <div class="row gx-3">
                        <div class="col-12 col-sm-6 col-xl-12">
                          <div class="mb-4">
                            <div class="d-flex flex-wrap mb-2">
                              <h5 class="mb-0 text-1000 me-2">Category</h5><a class="fw-bold fs--1" href="#!">Add new category</a>
                            </div>
                            <select class="form-select mb-3" aria-label="category">
                              <option value="men-cloth">Men's Clothing</option>
                              <option value="women-cloth">Womens's Clothing</option>
                              <option value="kid-cloth">Kid's Clothing</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-12">
                          <div class="mb-4">
                            <div class="d-flex flex-wrap mb-2">
                              <h5 class="mb-0 text-1000 me-2">Vendor</h5><a class="fw-bold fs--1" href="#!">Add new vendor</a>
                            </div>
                            <select class="form-select mb-3" aria-label="category">
                              <option value="men-cloth">Men's Clothing</option>
                              <option value="women-cloth">Womens's Clothing</option>
                              <option value="kid-cloth">Kid's Clothing</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-12">
                          <div class="mb-4">
                            <h5 class="mb-2 text-1000">Collection</h5>
                            <input class="form-control mb-xl-3" type="text" placeholder="Collection" />
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-12">
                          <div class="d-flex flex-wrap mb-2">
                            <h5 class="mb-0 text-1000 me-2">Tags</h5><a class="fw-bold fs--1 lh-sm" href="#!">View all tags</a>
                          </div>
                          <select class="form-select" aria-label="category">
                            <option value="men-cloth">Men's Clothing</option>
                            <option value="women-cloth">Womens's Clothing</option>
                            <option value="kid-cloth">Kid's Clothing</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-12">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title mb-4">Variants</h4>
                      <div class="row g-3">
                        <div class="col-12 col-sm-6 col-xl-12">
                          <div class="border-bottom border-dashed border-sm-0 border-bottom-xl pb-4">
                            <div class="d-flex flex-wrap mb-2">
                              <h5 class="text-1000 me-2">Option 1</h5><a class="fw-bold fs--1" href="#!">Remove</a>
                            </div>
                            <select class="form-select mb-3">
                              <option value="size">Size</option>
                              <option value="color">Color</option>
                              <option value="weight">Weight</option>
                              <option value="smell">Smell</option>
                            </select>
                            <div class="product-variant-select-menu">
                              <select class="form-select mb-3" data-choices="data-choices" multiple="multiple" data-options='{"removeItemButton":true,"placeholder":true}'>
                                <option value="size">4x6 in</option>
                                <option value="color">9x6 in</option>
                                <option value="weight">11x8 in</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-12">
                          <div class="d-flex flex-wrap mb-2">
                            <h5 class="text-1000 me-2">Option 2</h5><a class="fw-bold fs--1" href="#!">Remove</a>
                          </div>
                          <select class="form-select mb-3">
                            <option value="size">Size</option>
                            <option value="color">Color</option>
                            <option value="weight">Weight</option>
                            <option value="smell">Smell</option>
                          </select>
                          <div class="product-variant-select-menu mb-3">
                            <select class="form-select mb-3" data-choices="data-choices" multiple="multiple" data-options='{"removeItemButton":true,"placeholder":true}'>
                              <option value="size">4x6 in</option>
                              <option value="color">9x6 in</option>
                              <option value="weight">11x8 in</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <button class="btn btn-phoenix-primary w-100" type="button">Add another option</button>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
          </div>
        </form>
        

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="/usr/v1/template/phoenix-v1.13.0/vendors/tinymce/tinymce.min.js"></script>
    <script src="/usr/v1/template/phoenix-v1.13.0/vendors/dropzone/dropzone.min.js"></script>
    <script src="/usr/v1/template/phoenix-v1.13.0/vendors/choices/choices.min.js"></script>
    
    <div th:replace="~{usr/v1/infra/include/linkJsFull :: linkJsFull}"></div>

  </body>

</html>