@import "commonXdm.css";


/* 버튼 사이즈 조절 */
.btn_custom {
	padding: 0.4rem 0.6rem 0.4rem 0.6rem !important;
}


/* input type number 에서 방향모양 사라지도록 하기input[type="number"]::-webkit-outer-spin-button, */
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* jquery-ui datepicker 오늘, 취소 text size : default: 1rem */
.ui-widget button {
	font-size: 0.7em;
}
