<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <div th:replace="~{usr/v1/infra/include/headFull :: headFull}"></div>

  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
	  <div th:replace="~{usr/v1/infra/include/leftMenu :: leftMenu}"></div>          
      <div th:replace="~{usr/v1/infra/include/top :: top}"></div>
      
      
      <div class="content">
        <div class="mb-9">
          <div class="row g-3 mb-4">
            <div class="col-auto">
              <h2 class="mb-0">나의요청</h2>
            </div>
          </div>
          <div id="orderTable" data-list='{"valueNames":["order","total","customer","payment_status","fulfilment_status","delivery_type","date"],"page":10,"pagination":true}'>
			  <div class="mb-4">
              <div class="row g-3">
                <div class="col-auto">
                  <div class="search-box">
					  <form id="form" name="form" class="position-relative" data-bs-toggle="search" method="post" data-bs-display="static">
						<div class="row">
							<div class="col-8"> 
		                      <input class="form-control search-input search" type="search" id="shValue" name="shValue" placeholder="Search orders" aria-label="Search" />
		                      <span class="fas fa-search search-box-icon"></span>
		                     </div>
		                      <div class="invalid-feedback" id="shValueFeedback"></div>
		                     <div class="col-4">
			                 	 <button class="btn btn-primary" id="search" type="button" >검색</button>
			                 </div>
		                 </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <form method="post" id="formList" name="formList">
            <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 top-1">
              <div class="table-responsive mx-n1 px-1">
                <table class="table table-sm fs--1 mb-0">
                  <thead>
                    <tr>
                      <th class="white-space-nowrap fs--1 align-middle ps-0" style="width:26px;">
                        <div class="form-check mb-0 fs-0">
                        </div>
                      </th>
                      <th class="sort align-middle ps-8" scope="col" >아이디(이름)</th>
                      <th class="sort align-middle pe-3" scope="col" ></th>
                      <th class="sort align-middle text-start pe-3" scope="col" ></th>
                    </tr>
                  </thead>
                  <tbody >
					  <tr th:if="${#lists.isEmpty(list)}" class="hover-actions-trigger btn-reveal-trigger position-static">
	                      <td class="fs--1 align-middle px-0 py-3">
	                        <div class="form-check mb-0 fs-0">
	                        </div>
	                      </td>
	                      <td colspan="4" class="fs--1 align-middle px-0 py-3">
	                          <h6 class="mb-0 ms-3 text-900">친구 요청을 친구 추가에서 보내보세요!</h6>
	                        </td>
	                    </tr>
                    <tr th:if="${!#lists.isEmpty(list)}" th:each="list,start : ${list}" th:id="tr_+${start.index}" name="ifmmToSeq" th:value="${list.ifmmToSeq}">
					  <input type="hidden" name="ifmmToSeq" id="ifmmToSeq" th:value="${list.ifmmToSeq}">
                      <td class="fs--1 align-middle px-0 py-3">
                        <div class="form-check mb-0 fs-0">
                        </div>
                      </td>
                      <td class="customer align-middle white-space-nowrap ps-8"><a class="d-flex align-items-center text-900" href="../../../apps/e-commerce/landing/profile.html">
                          <div class="avatar avatar-m"><img class="rounded-circle" src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/32.webp" alt="" /></div>
                          <h6 th:text="${list.ifmmId}" class="mb-0 ms-3 text-900"></h6>&nbsp;(<h6 th:text="${list.ifmmName}" class="mb-0 text-900"></h6>)
                        </a>
                      </td>
                      <td class="payment_status align-middle white-space-nowrap text-end fw-bold text-700"></td>
					  <td name="ifmmToSeq" class="align-middle text-start fw-bold text-700"><span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span class="badge-label" style="height:14px;width:30px;"><button th:id="btn_+${start.index}" th:value="${start.index}" type="button">요청취소</button></span><span class="ms-1" data-feather="" style="height:12.8px;width:12.8px;"></span></span></td>                      <!-- <td class="delivery_type align-middle white-space-nowrap text-900 fs--1 text-start">Cash on delivery</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row align-items-center justify-content-center py-2 pe-0 fs--1">
                <div class="col-auto d-flex">
                  <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                  <ul class="mb-0 pagination"></ul>
                  <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
              </div>
            </div>
            </form>
          </div>
        </div>
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v1.13.0</p>
            </div>
          </div>
        </footer>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    
	<script>
		/*startsWith = 해당 문자열로 시작하는 아이디 타겟*/
      document.addEventListener('click', function(event) {
		  if (event.target.id.startsWith('btn_')) {
			  let btnVal = event.target.value;
			  let btnTr = document.getElementById("tr_" + btnVal);
			 let ifmmToSeq = btnTr.querySelector("#ifmmToSeq").value;
			 btnTr.remove();
			 
			 $.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/v1/csfn/friend/friendMyRequestUsrUelete"
				/* ,data : $("#formLogin").serialize() */
				,data : {ifmmToSeq}
				,success: function(response) {
					if(response.rt == "success") {
						//by pass
					} 
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		  }
		  
		});
	</script>
	
    <div th:replace="~{usr/v1/infra/include/linkJsFull :: linkJsFull}"></div>

  </body>

</html>