<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <div th:replace="~{usr/v1/infra/include/headFull :: headFull}"></div>

  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
	  <div th:replace="~{usr/v1/infra/include/leftMenu :: leftMenu}"></div>          
      <div th:replace="~{usr/v1/infra/include/top :: top}"></div>
      
      <div class="content">
        <div class="mb-9">
          <div class="row g-3 mb-4">
            <div class="col-auto">
              <h2 class="mb-0">친구목록</h2>
            </div>
          </div>
          <div id="orderTable" data-list='{"valueNames":["order","total","customer","payment_status","fulfilment_status","delivery_type","date"],"page":10,"pagination":true}'>
            <div class="mb-4">
              <div class="row g-3">
                <div class="col-auto">
                  <div class="search-box">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                      <input class="form-control search-input search" type="search" placeholder="Search orders" aria-label="Search" />
                      <span class="fas fa-search search-box-icon"></span>
                    </form>
                  </div>
                </div>
                <div class="col-auto scrollbar overflow-hidden-y flex-grow-1">                 
                </div>
                <!-- 친구 추가 모달 -->
                <div id="btnFriendAdd" class="col-auto">
                  <button class="btn btn-primary" style="margin-left: -150px;" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">친구 추가</button>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">친구 추가</h5>
                          </div>
                          <div class="modal-body">
                            
                            <input class="form-control" id="ifmmId" name="ifmmId" type="text">
                            
                          </div>
                          <div class="modal-footer">
                            <button class="btn btn-primary" id="searchId" type="button" data-bs-dismiss="modal">확인</button>
                            <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">취소</button>
                          </div>
                        </div>
                      </div>
                    </div>           
                </div>
              </div>
            </div>
            <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
              <div class="table-responsive mx-n1 px-1">
                <table class="table table-sm fs--1 mb-0">
                  <thead>
                    <tr>
                      <th class="white-space-nowrap fs--1 align-middle ps-0" style="width:26px;">
                        <div class="form-check mb-0 fs-0">
                        </div>
                      </th>
                      <!-- <th class="sort white-space-nowrap align-middle pe-3" scope="col" data-sort="order" style="width:5%;">ORDER</th> -->
                      <!-- <th class="sort align-middle text-end" scope="col" data-sort="total" style="width:6%;">TOTAL</th> -->
                      <th class="sort align-middle ps-8" scope="col" >CUSTOMER</th>
                      <th class="sort align-middle text-start pe-3" scope="col" ></th>
                      <!-- <th class="sort align-middle text-start" scope="col" data-sort="delivery_type" style="width:30%;">DELIVERY TYPE</th> -->
                      <!-- <th class="sort align-middle text-end pe-0" scope="col" data-sort="date">DATE</th> -->
                    </tr>
                  </thead>
                  <tbody class="list" id="order-table-body">
                    <tr th:if="${!#lists.isEmpty(list)}" th:each="list,start : ${list}" th:id="tr_+${start.index}" class="hover-actions-trigger btn-reveal-trigger position-static">
					  <input type="hidden" name="ifmmFromSeq" id="ifmmFromSeq" th:value="${list.ifmmFromSeq}">
                      <td class="fs--1 align-middle px-0 py-3">
                        <div class="form-check mb-0 fs-0">
                        </div>
                      </td>
                      <!-- <td class="order align-middle white-space-nowrap py-0"><a class="fw-semi-bold" href="#!">#2453</a></td> -->
                      <!-- <td class="total align-middle text-end fw-semi-bold text-1000">$87</td> -->
                      <td class="customer align-middle white-space-nowrap ps-8"><a class="d-flex align-items-center text-900" href="../../../apps/e-commerce/landing/profile.html">
                          <div class="avatar avatar-m"><img class="rounded-circle" src="/usr/v1/template/phoenix-v1.13.0/assets/img/team/32.webp" alt="" />
                          </div>
                          <h6 th:text="${list.ifmmName}" class="mb-0 ms-3 text-900"></h6>
                        </a></td>
                      <td class="fulfilment_status align-middle white-space-nowrap text-start fw-bold text-700"><span class="badge badge-phoenix fs--2 badge-phoenix-secondary"><span class="badge-label" style="height:14px;width:30px;"><button th:id="btnDel_+${start.index}" th:value="${start.index}" type="button">친구삭제</button></span><span class="ms-1" data-feather="" style="height:12.8px;width:12.8px;"></span></span></td>
                      <!-- <td class="delivery_type align-middle white-space-nowrap text-900 fs--1 text-start">Cash on delivery</td> -->
                      <!-- <td class="date align-middle white-space-nowrap text-700 fs--1 ps-4 text-end">Dec 12, 12:56 PM</td> -->
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="row align-items-center justify-content-center py-2 pe-0 fs--1">
                <div class="col-auto d-flex">
                  <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                  <ul class="mb-0 pagination"></ul>
                  <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <footer class="footer position-absolute">
          <div class="row g-0 justify-content-between align-items-center h-100">
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 mt-2 mt-sm-0 text-900">Thank you for creating with Phoenix<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />2023 &copy;<a class="mx-1" href="https://themewagon.com">Themewagon</a></p>
            </div>
            <div class="col-12 col-sm-auto text-center">
              <p class="mb-0 text-600">v1.13.0</p>
            </div>
          </div>
        </footer>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->


    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    
    
	<!--친구 검색-->
	<script>
		document.getElementById("searchId").onclick = function () {
		
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			/* ,dataType:"json" */
			/* ,url: "/v1/infra/member/signinUsrProc" */
			/* ,data : $("#formLogin").serialize() */
			,data : { "ifmmId" : $("#ifmmId").val()}
			,success: function(response) {
				if(response.rt == "success") {
					console.log(ifmmId);
				} 
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}
	</script>
	
	<!--친구 삭제-->
	<script>
      document.addEventListener('click', function(event) {
		  if (event.target.id.startsWith('btnDel_')) {
			  let btnVal = event.target.value;
			  let btnTr = document.getElementById("tr_" + btnVal);
			 let ifmmToSeq = btnTr.querySelector("#ifmmToSeq").value;
			 btnTr.remove();
			 
			 $.ajax({
				async: true 
				,cache: false
				,type: "post"
				/* ,dataType:"json" */
				,url: "/v1/csfn/friend/friendMyRequestUsrUelete"
				/* ,data : $("#formLogin").serialize() */
				,data : {ifmmToSeq}
				,success: function(response) {
					if(response.rt == "success") {
						//by pass
					} 
				}
				,error : function(jqXHR, textStatus, errorThrown){
					alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
				}
			});
		  }
		  
		});
	</script>
	
    <div th:replace="~{usr/v1/infra/include/linkJsFull :: linkJsFull}"></div>

  </body>

</html>