<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <div th:replace="~{usr/v1/infra/include/head :: head}"></div>

  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div th:replace="~{usr/v1/infra/include/leftMenu :: leftMenu}"></div>          
      <div th:replace="~{usr/v1/infra/include/top :: top}"></div>
       
       <!-- 요청목록 시작 -->
      <div class="content">
        <div class="container-fluid">
        <form class="mb-9">
          <h2 class="mb-6 mt-6">친구요청<span class="text-700 fw-normal ms-2">(43)</span></h2>
          <div class="border-y" id="productWishlistTable" data-list='{"valueNames":["products","color","size","price","quantity","total"],"page":5,"pagination":true}'>
            <div class="table-responsive scrollbar">
              <table class="table fs--1 mb-0">
                <thead>
                  <tr>
                    <th class="sort white-space-nowrap align-middle" scope="col" style="width:30%; min-width:100px;" data-sort="products">회원 아이디(이름)</th>
                    <!-- <th class="sort align-middle" scope="col" data-sort="color" style="width:16%;">COLOR</th> -->
                    <!-- <th class="" scope="col" data-sort="color" style="width:16%;"></th> -->
                    <!-- <th class="" scope="col" data-sort="size" style="width:10%;"></th>
                    <th class="" scope="col" data-sort="price" style="width:10%;"></th> -->
                    <th class="sort align-middle text-end pe-0" scope="col" style="width:35%;"> </th>
                  </tr>
                </thead>
                <tbody class="list" id="profile-wishlist-table-body">
                  <tr class="hover-actions-trigger btn-reveal-trigger position-static">
                    <td class="products align-middle pe-11 " ><a class="fw-semi-bold mb-0 line-clamp-1" href="../apps/e-commerce/landing/product-details.html">exampleId(김철수)</a></td>
                    <!-- <td class=""></td> -->
                    <!-- <td class=""></td>
                    <td class=""></td> -->
                    <td class="total align-middle fw-bold text-1000 text-end text-nowrap pe-0">
                      <button class="btn btn-sm text-500 hover-text-600 me-2"><span class="fas fa-trash"></span></button>
                      <button class="btn btn-primary fs--2">수락</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row align-items-center justify-content-between py-2 pe-0 fs--1">
              <!-- <div class="col-auto d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info"></p><a class="fw-semi-bold" href="#!" data-list-view="*">View all<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a><a class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span></a>
              </div> -->
              <div class="col-auto d-flex mt-4">
                <button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
                <ul class="mb-0 pagination"></ul>
                <button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
              </div>
            </div>
          </div>
          <!-- end of .container-->
        </form>
      </div>
      </div>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    
    <div th:replace="~{usr/v1/infra/include/linkJs :: linkJs}"></div>

  </body>

</html>