<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<div th:replace="~{usr/v1/infra/include/headFull :: headFull}"></div>

<body>

	<!-- ===============================================-->
	<!--    Main Content-->
	<!-- ===============================================-->
	<main class="main" id="top">
		<div th:replace="~{usr/v1/infra/include/leftMenu :: leftMenu}"></div>
		<div th:replace="~{usr/v1/infra/include/top :: top}"></div>
		<div class="content">
			<form class="mb-9">
				<section class="pt-1 ">

					<div class="container-small">
						<div class="row align-items-center justify-content-between g-3 mb-4">
							<div class="col-auto">
								<h2 class="mb-0">회원탈퇴</h2>
							</div>
						</div>
						<div class="row py-5 pt-12">
							<div class="col-3"></div>
							<div class="text-center mb-6 col-sm-10 col-md-8 col-lg-5 col-xxl-4">
								<h4 class="text-1000">계정을 삭제 하시겠습니까?</h4>
								<p class="text-700 mb-5">삭제 하시려면 아래 문구를 똑같이 입력해주세요.</p>
								<p class="text-700 mb-5">아이디 표출</p>
								<div class="row">
									<div class="col-9">
										<input class="form-control flex-1" id="email" type="email"
											placeholder="삭제 하시려면 아이디를 입력해주세요" />
									</div>
									<div class="col-3">
										<button class="btn btn-primary ms-2">삭제</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end of .container-->

				</section>


			</form>
		</div>


		<!-- ===============================================-->
		<!--    JavaScripts-->
		<!-- ===============================================-->
		<div th:replace="~{usr/v1/infra/include/linkJsFull :: linkJsFull}"></div>
</body>

</html>