<!DOCTYPE html>
<html lang="ko">

<div th:replace="~{xdm/v1/infra/include/head :: head}"></div>

<body>

<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">

<div th:replace="~{xdm/v1/infra/include/leftMenu :: leftMenu}"></div>          
      
<div th:replace="~{xdm/v1/infra/include/top :: top}"></div>         
      
<div class="content">
	<nav class="mb-2" aria-label="breadcrumb">
		<ol class="breadcrumb mb-0">
			<li class="breadcrumb-item"><a href="#!">Page 1</a></li>			<!-- ### -->
			<li class="breadcrumb-item"><a href="#!">Page 2</a></li>			<!-- ### -->
			<li class="breadcrumb-item active">Default</li>								<!-- ### -->
		</ol>
	</nav>
	<div class="mb-9">
	  <div class="row g-3 mb-4">
	    <div class="col-auto">
	      <h2 class="mb-0">Code Group</h2>														<!-- ### -->
	    </div>
	  </div>
		<div class="card shadow-none border border-300 my-4" data-component-card="data-component-card">
			<div class="card-header p-4 border-bottom border-300 bg-soft">
				<div class="row g-3 justify-content-between align-items-center">
					<div class="col-12 col-md">
						<h4 class="text-900 mb-0">기본정보</h4>
					</div>
				</div>
			</div>
			<div class="card-body p-0">
				<div class="p-4 code-to-copy">
					<form id="form" name="form" method="post" autocomplete="off" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate="">
			
<div th:replace="~{xdm/v1/infra/codegroup/codeGroupXdmVo :: vo}"></div>			<!-- ### --> 					
					
						<div class="col-md-3">
							<label for="ifcgSeq" class="form-label fs--1">코드그룹 코드 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifcgSeq" name="ifcgSeq" th:value="${item?.ifcgSeq}" maxlength="20" placeholder="자동생성" disabled class="form-control"/>
						</div>
						<div class="col-md-3">
							<label for="ifcgSeqAnother" class="form-label fs--1">코드그룹 코드 (Another))</label>
							<input type="text" id="ifcgSeqAnother" name="ifcgSeqAnother" th:value="${item?.ifcgSeqAnother}" maxlength="20" placeholder="영대소문자,숫자" class="form-control"/>
							<div class="invalid-feedback" id="ifcgSeqAnotherFeedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifcgName" class="form-label fs--1">코드그룹 이름 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifcgName" name="ifcgName" th:value="${item?.ifcgName}" maxlength="20" placeholder="한글, 영대소문자, 숫자" class="form-control"/>
							<div class="invalid-feedback" id="ifcgNameFeedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifcgNameEng" class="form-label fs--1">코드그룹 이름 (영문)</label>
							<input type="text" id="ifcgNameEng" name="ifcgNameEng" th:value="${item?.ifcgNameEng}" maxlength="20" placeholder="영대소문자, 숫자" class="form-control"/>
							<div class="invalid-feedback" id="ifcgNameEngFeedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifcgUseNy" class="form-label fs--1">사용여부 <span class="text-danger fs-0">*</span></label>
							<select id="ifcgUseNy" name="ifcgUseNy" class="form-select">
								<option value="1" th:selected="${item?.ifcgUseNy == 1}">사용</option>
								<option value="0" th:selected="${item?.ifcgUseNy == 0}">미사용</option>
							</select>
							<div class="invalid-feedback" id="ifcgUseNyFeedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifcgOrder" class="form-label fs--1">순서 <span class="text-danger fs-0">*</span></label>
							<input type="text" id="ifcgOrder" name="ifcgOrder" th:value="${item?.ifcgOrder}" class="form-control"/>
							<div class="invalid-feedback" id="ifcgOrderFeedback"></div>
						</div>
						<div class="col-md-6">
							<!-- empty -->
						</div>
						<div class="col-md-6">
							<label class="form-label fs--1">설명</label>
							<div class="controls">
								<textarea class="form-control" id="ifcgDesc" name="ifcgDesc" th:value="${item?.ifcgDesc}" th:text="${item?.ifcgDesc}" style="height: 100px;"></textarea>
								<div class="invalid-feedback" id="ifcgDescFeedback"></div>
							</div>
						</div>
						<div class="col-md-6">
							<!-- empty -->
						</div>
						<div class="col-md-12">
							<label for="uploadFiles" class="form-label fs--1">file</label>
							<input type="file" id="uploadFiles" name="uploadFiles" multiple class="form-control"/>
							<div class="invalid-feedback" id="uploadFilesFeedback"></div>
						</div>							
<!-- 											
						<div class="col-md-3">
							<label for="ifcgReferenceV1" class="form-label fs--1">예비1 (varchar type)</label>
							<input type="text" id="ifcgReferenceV1" name="ifcgReferenceV1" th:value="${item?.ifcgReferenceV1}" class="form-control"/>
							<div class="invalid-feedback" id="ifcgReferenceV1Feedback"></div>
						</div>	
						<div class="col-md-3">
							<label for="ifcgReferenceV2" class="form-label fs--1">예비2 (varchar type)</label>
							<input type="text" id="ifcgReferenceV2" name="ifcgReferenceV2" th:value="${item?.ifcgReferenceV2}" class="form-control"/>
							<div class="invalid-feedback" id="ifcgReferenceV2Feedback"></div>
						</div>	
						<div class="col-md-3">
							<label for="ifcgReferenceV3" class="form-label fs--1">예비3 (varchar type)</label>
							<input type="text" id="ifcgReferenceV3" name="ifcgReferenceV3" th:value="${item?.ifcgReferenceV3}" class="form-control"/>
							<div class="invalid-feedback" id="ifcgReferenceV3Feedback"></div>
						</div>	
						<div class="col-md-3">
							<label for="ifcgReferenceV4" class="form-label fs--1">예비4 (varchar type)</label>
							<input type="text" id="ifcgReferenceV4" name="ifcgReferenceV4" th:value="${item?.ifcgReferenceV4}" class="form-control"/>
							<div class="invalid-feedback" id="ifcgReferenceV4Feedback"></div>
						</div>
						<div class="col-md-3">
							<label for="ifcgReferenceI1" class="form-label fs--1">예비1 (int type)</label>
							<input type="text" id="ifcgReferenceI1" name="ifcgReferenceI1" th:value="${item?.ifcgReferenceI1}" class="form-control"/>
							<div class="invalid-feedback" id="ifcgReferenceI1Feedback"></div>
						</div>
						<div class="col-md-3">							
							<label for="ifcgReferenceI2" class="form-label fs--1">예비2 (int type)</label>
							<input type="text" id="ifcgReferenceI2" name="ifcgReferenceI2" th:value="${item?.ifcgReferenceI2}" class="form-control"/>
							<div class="invalid-feedback" id="ifcgReferenceI2Feedback"></div>
						</div>							
						<div class="col-md-3">						
							<label for="ifcgReferenceI3" class="form-label fs--1">예비3 (int type)</label>
							<input type="text" id="ifcgReferenceI3" name="ifcgReferenceI3" th:value="${item?.ifcgReferenceI3}" class="form-control"/>
							<div class="invalid-feedback" id="ifcgReferenceI3Feedback"></div>
						</div>							
						<div class="col-md-3">						
							<label for="ifcgReferenceI4" class="form-label fs--1">예비4 (int type)</label>
							<input type="text" id="ifcgReferenceI4" name="ifcgReferenceI4" th:value="${item?.ifcgReferenceI4}" class="form-control"/>
							<div class="invalid-feedback" id="ifcgReferenceI4Feedback"></div>
						</div>						
 -->	
<th:block th:if="${not #strings.isEmpty(item?.ifcgSeq)}">			
	<div th:replace="~{xdm/v1/infra/include/regmod :: regmod}"></div>   						
</th:block>					
										
						<div class="col-12">
							<div class="row">
								<div class="col-6 text-start">
									<button type="button" id="btnList" class="btn btn-outline-secondary btn-sm btn_custom"><i class="fa-solid fa-list fa-lg"></i></button>
<th:block th:if="${not #strings.isEmpty(item?.ifcgSeq)}">									
									<button type="button" id="btnDelete" class="btn btn-danger btn-sm btn_custom"><i class="fa-solid fa-x fa-lg"></i></button>
									<button type="button" id="btnUelete" class="btn btn-danger btn-sm btn_custom"><i class="fa-regular fa-trash-can fa-lg"></i></button>
</th:block>
								</div>
								<div class="col-6 text-end">
<!-- 									<button type="button" id="btnForm" class="btn btn-primary btn-sm btn_custom"><i class="fa-regular fa-pen-to-square fa-lg"></i></button> -->
									<button type="button" id="btnSubmit" class="btn btn-primary btn_custom"><i class="fa-solid fa-database fa-lg"></i></button>
								</div>
							</div>          
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

<div th:replace="~{xdm/v1/infra/include/footer :: footer}"></div>   

</div>

<form name="formVo" method="post">
	<div th:replace="~{xdm/v1/infra/codegroup/codeGroupXdmVo :: vo}"></div>			<!-- ### -->
</form>

<script>
	var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
	var navbarTop = document.querySelector('.navbar-top');
	
	if (navbarTopStyle === 'darker') {
		navbarTop.classList.add('navbar-darker');
	}

	var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
	var navbarVertical = document.querySelector('.navbar-vertical');
	if (navbarVertical && navbarVerticalStyle === 'darker') {
		navbarVertical.classList.add('navbar-darker');
	}
</script>
      
</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->

<div th:replace="~{xdm/v1/infra/include/customize :: customize}"></div>

<div th:replace="~{xdm/v1/infra/include/modal :: modal}"></div>

<div th:replace="~{xdm/v1/infra/include/linkJs :: linkJs}"></div>

<script type="text/javascript">

	window.addEventListener('load', function() {
			
	});
	
	let goUrlXdmList = "/v1/infra/codegroup/codeGroupXdmList";						/* ### */
	let goUrlXdmAjaxList = "/v1/infra/codegroup/codeGroupXdmAjaxList";		/* ### */
	let goUrlXdmInst = "/v1/infra/codegroup/codeGroupXdmInst";						/* ### */
	let goUrlXdmUpdt = "/v1/infra/codegroup/codeGroupXdmUpdt";						/* ### */
	let goUrlXdmDele = "/v1/infra/codegroup/codeGroupXdmDele";						/* ### */
	let goUrlXdmUele = "/v1/infra/codegroup/codeGroupXdmUele";						/* ### */
	
	let seq = document.querySelector("input[name=ifcgSeq]");							/* ### */
	
	
	function validationInst() {
	    if(validationUpdt() == false) return false;
	}
	
	
	function validationUpdt() {
 		if(!checkOnlyEnglishNumber('ifcgSeqAnother', 2, 1, "코드그룹 코드 (Another)는 영대소문자, 숫자만 입력 가능합니다.")) return false;
 		if(!checkOnlyKoreanEnglishNumber('ifcgName', 2, 0, "코드그룹 이름은 한글, 영문대소문자, 숫자만 입력 가능합니다.")) return false;
 		if(!checkOnlyEnglishNumber('ifcgNameEng', 2, 1, "코드그룹 이름 (영문)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
 		if(!checkOnlyNumber('ifcgOrder', 2, 0, 1, 0, 255, "순서는 숫자(0~255)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV1', 2, 1, "예비1 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV2', 2, 1, "예비2 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV3', 2, 1, "예비3 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyEnglishNumber('ifcgReferenceV4', 2, 1, "예비4 (varchar type)은 영문대소문자, 숫자만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI1', 2, 1, 1, -128, 127, "예비1 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI2', 2, 1, 1, -128, 127, "예비2 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI3', 2, 1, 1, -128, 127, "예비3 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
//  		if(!checkOnlyNumber('ifcgReferenceI4', 2, 1, 1, -128, 127, "예비4 (Int type)은 숫자(-128~127)만 입력 가능합니다.")) return false;
	}

	
	upload = function() {
		
		alert("asdasdf");
	
	}
</script>

<script src="/xdm/v1/js/includeXdmForm.js"></script>

</body>
</html>