<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">  

      <nav th:fragment="leftMenu" class="navbar navbar-vertical navbar-expand-lg">
            <script>
              var navbarStyle = window.config.config.phoenixNavbarStyle;
              if (navbarStyle && navbarStyle !== 'transparent') {
                document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
              }
            </script>
            <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
              <!-- scrollbar removed-->
              <div class="navbar-vertical-content">
                <ul class="navbar-nav flex-column" id="navbarVerticalNav">
                  
                  <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">Hazel
                    </p>
                    <hr class="navbar-vertical-line" />
                    <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/v1/csfn/group/groupUsrList}" role="button" data-bs-toggle="" aria-expanded="false">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="grid"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">그룹</span></span>
                        </div>
                      </a>
                    </div>
                    <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/v1/csfn/place/placeUsrList}" role="button" data-bs-toggle="" aria-expanded="false">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="tag"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">장소</span></span>
                        </div>
                      </a>
                    </div>
                    <!-- parent pages-->
                    <!-- parent pages-->
                  </li>
                  <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">회원정보
                    </p>
                    <hr class="navbar-vertical-line" />
                    <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-CRM" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-CRM">
                        <div class="d-flex align-items-center">
                          <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="lock"></span></span><span class="nav-link-text">마이페이지</span><span class="fa-solid fa-circle text-info ms-1 new-page-indicator" style="font-size: 6px"></span>
                        </div>
                      </a>
                      <div class="parent-wrapper label-1">
                        <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-CRM">
                          <li class="collapsed-nav-item-title d-none">CRM
                          </li>
                          <li class="nav-item"><a class="nav-link" th:href="@{/v1/infra/member/myPageUsrView}" data-bs-toggle="" aria-expanded="false">
                              <div class="d-flex align-items-center"><span class="nav-link-text">개인정보 관리</span>
                              </div>
                            </a>
                            <!-- more inner pages-->
                          </li>
                          <li class="nav-item"><a class="nav-link" th:href="@{/v1/infra/member/myPageUsrView}" data-bs-toggle="" aria-expanded="false">
                              <div class="d-flex align-items-center"><span class="nav-link-text">비밀번호 변경</span><span class="badge ms-2 badge badge-phoenix badge-phoenix-info ">New</span>
                              </div>
                            </a>
                            <!-- more inner pages-->
                          </li>
                          <li class="nav-item"><a class="nav-link" th:href="@{/v1/infra/member/myPageUsrView}" data-bs-toggle="" aria-expanded="false">
                              <div class="d-flex align-items-center"><span class="nav-link-text">마이리뷰</span>
                              </div>
                            </a>
                            <!-- more inner pages-->
                          </li>
                          <li class="nav-item"><a class="nav-link" th:href="@{/v1/infra/member/withdrawUsrForm}" data-bs-toggle="" aria-expanded="false">
                              <div class="d-flex align-items-center"><span class="nav-link-text">회원탈퇴</span>
                              </div>
                            </a>
                            <!-- more inner pages-->
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-email" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="nv-email">
                        <div class="d-flex align-items-center">
                          <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div><span class="nav-link-icon"><span data-feather="users"></span></span><span class="nav-link-text">친구</span>
                        </div>
                      </a>
                      <div class="parent-wrapper label-1">
                        <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" id="nv-email">
                          <li class="collapsed-nav-item-title d-none">Email
                          </li>
                          <li class="nav-item"><a class="nav-link" th:href="@{/v1/csfn/friend/friendUsrList}" data-bs-toggle="" aria-expanded="false">
                              <div class="d-flex align-items-center"><span class="nav-link-text">친구목록</span>
                              </div>
                            </a>
                            <!-- more inner pages-->
                          </li>
                          <li class="nav-item"><a class="nav-link" th:href="@{/v1/csfn/friend/friendRequestUsrList}" data-bs-toggle="" aria-expanded="false">
                              <div class="d-flex align-items-center"><span class="nav-link-text">친구요청</span>
                              </div>
                            </a>
                            <!-- more inner pages-->
                          </li>
                          <li class="nav-item"><a class="nav-link" href="../apps/email/compose.html" data-bs-toggle="" aria-expanded="false">
                              <div class="d-flex align-items-center"><span class="nav-link-text">친구수락</span>
                              </div>
                            </a>
                            <!-- more inner pages-->
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- parent pages-->
                  </li>
                  <li class="nav-item">
                    <!-- label-->
                    <p class="navbar-vertical-label">커뮤니티
                    </p>
                    <hr class="navbar-vertical-line" />
                    <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/v1/infra/qna/noticeUsrList}" role="button" data-bs-toggle="" aria-expanded="false">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="bell"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">공지사항</span></span>
                        </div>
                      </a>
                    </div>
                    <div class="nav-item-wrapper"><a class="nav-link label-1" th:href="@{/v1/infra/qna/qnaUsrList}" role="button" data-bs-toggle="" aria-expanded="false">
                        <div class="d-flex align-items-center"><span class="nav-link-icon"><span data-feather="help-circle"></span></span><span class="nav-link-text-wrapper"><span class="nav-link-text">QnA</span></span>
                        </div>
                      </a>
                    </div>
                    <!-- parent pages-->
                  </li>
                  
                  
                </ul>
              </div>
            </div>
            <div class="navbar-vertical-footer">
              <button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-0"></span><span class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button>
            </div>
          </nav>

</html>