<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{xdm/v1/infra/include/totalAndRowNum :: totalAndRowNum}"></div>

					<hr style="margin: 0.5rem 0;">

<!-- table s  -->
<div class="table-responsive scrollbar mx-n1 px-1">
	<table class="table table-sm fs--1 mb-0">
		<thead>
			<tr class="text-center">
				<th class="white-space-nowrap fs--1 align-middle ps-0" style="width:30px; min-width: 30px;">
					<div class="form-check mb-0 fs-0">
						<input type="checkbox" id="checkBoxAll" class="form-check-input"/>
					</div>
				</th>
				<th class="align-middle" style="width:40px; min-width: 40px;">#</th>
				<th class="sort align-middle" scope="col" data-sort="ifcgSeq" style="width: 110px; min-width:110px;">코드그룹 코드</th>
				<th class="sort align-middle" scope="col" data-sort="ifcgName" style="min-width: 200px;">코드그룹 이름</th>
				<th class="sort align-middle" scope="col" data-sort="ifcdSeq" style="width: 200px; min-width: 200px;">코드</th>
				<th class="sort align-middle" scope="col" data-sort="ifcdSeqAnother" style="width: 80px; min-width: 80px;">대체 코드</th>
				<th class="sort align-middle" scope="col" data-sort="ifcdName" style="width: 80px; min-width: 80px;">코드 이름</th>
				<th class="sort align-middle" scope="col" data-sort="ifcdNameEng" style="width: 80px; min-width: 80px;">코드 이름(영문)</th>
				<th class="sort align-middle" scope="col" data-sort="ifcdUseNy" style="width: 80px; min-width: 80px;">사용</th>
				<th class="sort align-middle" scope="col" data-sort="ifcdOrder" style="width: 80px; min-width: 80px;">순서</th>
				<th class="sort align-middle" scope="col" data-sort="regDateTime" style="width: 150px; min-width: 150px">등록일</th>
				<th class="sort align-middle" scope="col" data-sort="modDateTime" style="width: 150px; min-width: 150px;">수정일</th>
			</tr>
		</thead>
		<tbody class="list text-center" id="order-table-body">
			<tr th:if="${#lists.isEmpty(list)}" class="hover-actions-trigger btn-reveal-trigger position-static">
				<td colspan="12">				<!-- ### -->
					<p class="fs-0" style="padding-top: 12px;">There are no data!</p>
				</td>
			</tr>
			<tr class="hover-actions-trigger btn-reveal-trigger position-static" 
				onmouseover="this.style.background='red'" onmouseout="this.style.background=''"
				th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}" th:id="'trNum_' + ${list.ifcdSeq}">			<!-- ### -->
				<td class="fs--1 align-middle px-0 py-3">
					<div class="form-check mb-0 fs-0">
						<input type="checkbox" th:id="'checkboxSeq_' + ${list.ifcdSeq}" name="checkboxSeq" th:value="${list.ifcdSeq}" class="form-check-input"/>
					</div>
				</td>
				<td th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}" class="align-middle"></td>
				<td th:text="${list.ifcgSeq}" class="ifcgSeq align-middle fw-semi-bold"></td>
				<td th:text="${list.ifcgName}" class="ifcgName align-middle fw-semi-bold"></td>
				<td th:text="${list.ifcdSeq}" class="ifcdSeq align-middle fw-semi-bold"></td>
				<td th:text="${list.ifcdSeqAnother}" class="ifcdSeqAnother align-middle fw-semi-bold"></td>
				<td class="ifcdName align-middle  fw-semi-bold"><a href="javascript:void(0);" th:text="${list.ifcdName}" th:attr="onclick=|goForm('${list.ifcdSeq}')|"></a></td>
				<td th:text="${list.ifcdNameEng}" class="ifcdNameEng align-middle"></td>
				<td th:if="${list.ifcdUseNy eq 0}" class="ifcdUseNy align-middle">N</td>
				<td th:unless="${list.ifcdUseNy eq 0}" class="ifcdUseNy align-middle">Y</td>
				<td th:text="${list.ifcdOrder}" class="ifcdOrder align-middle"></td>
				<td th:text="${#dates.format(list.regDateTime, 'yyyy-MM-dd HH:mm:ss')}" class="regDateTime align-middle"></td>
				<td th:text="${#dates.format(list.modDateTime, 'yyyy-MM-dd HH:mm:ss')}" class="modDateTime align-middle" ></td>
			</tr>
		</tbody>
	</table>
</div>
<!-- table e  -->      	
      	
<!-- paging s  -->				
<div class="container-fluid px-0 mt-2 mb-2">
	<div class="row">
		<div class="col">
			<ul class="pagination justify-content-center mb-0">
				<li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;"><a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}')|"><i class="fa-solid fa-angle-left"></i></a></li>
				<li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${num}')|" th:text="${num}"><!-- ${i.index} --></a></li>
				<li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;"><a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}')|"><i class="fa-solid fa-angle-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
<!-- paging e  -->

<script type="text/javascript">
 
	window.addEventListener('load', function () {
	    let checkboxes = document.querySelectorAll('input[name=checkboxSeq]');
	
	    for (let checkbox of checkboxes) {
	        checkbox.addEventListener('change', function (event) {
	            if (event.target.checked) {
	                document.getElementById("trNum_" + event.target.value).style.backgroundColor = TABLE_COLOR;
	            } else {
	                document.getElementById("trNum_" + event.target.value).style.backgroundColor = "";
	            }
	        });
	    }
	});
	
	
	if(document.getElementById("changeRowNum")) {
		document.getElementById("changeRowNum").onchange = function () {
		    document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
		    form.action = goUrlXdmAjaxList;
		    form.submit();
		}
	}
	
	
	$("input[name=checkboxSeq]").click(function() {
		var total = $("input[name=checkboxSeq]").length;
		var checked = $("input[name=checkboxSeq]:checked").length;
		
		if(total != checked) $("#checkboxAll").prop("checked", false);
		else $("#checkboxAll").prop("checked", true); 
	});

</script>

</html>