<!DOCTYPE html>
<html lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

  <div th:replace="~{usr/v1/infra/include/headFull :: headFull}"></div>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main style="--phoenix-scroll-margin-top: 1.2rem;">
      <div class="bg-white sticky-top landing-navbar" data-navbar-shadow-on-scroll="data-navbar-shadow-on-scroll">
        <nav class="navbar navbar-expand-lg container-small px-3 px-lg-7 px-xxl-3"><a class="navbar-brand flex-1 flex-lg-grow-0" th:href="@{/}">
            <div class="d-flex align-items-center"><img src="/usr/v1/template/phoenix-v1.13.0/assets/img/icons/logo.png" alt="phoenix" width="27" />
              <p class="logo-text ms-2">phoenix</p>
            </div>
          </a>
          <div class="d-lg-none">
            <div class="theme-control-toggle fa-icon-wait px-2">
              <input class="form-check-input ms-0 theme-control-toggle-input" type="checkbox" data-theme-control="phoenixTheme" value="dark" id="themeControlToggleSm" />
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-light" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="moon"></span></label>
              <label class="mb-0 theme-control-toggle-label theme-control-toggle-dark" for="themeControlToggleSm" data-bs-toggle="tooltip" data-bs-placement="left" title="Switch theme"><span class="icon" data-feather="sun"></span></label>
            </div>
          </div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="border-bottom border-bottom-lg-0 mb-2">
              <div class="search-box d-inline d-lg-none">
                <form class="position-relative" data-bs-toggle="search" data-bs-display="static">
                  <input class="form-control search-input search rounded-pill my-4" type="search" placeholder="Search" aria-label="Search" />
                  <span class="fas fa-search search-box-icon"></span>

                </form>
              </div>
            </div>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3 active" aria-current="page" href="#">Home</a></li>
              <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3" href="#feature">Features</a></li>
              <li class="nav-item border-bottom border-bottom-lg-0"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3" href="#blog">Blog</a></li>
              <li class="nav-item"><a class="nav-link lh-1 py-0 fs--1 fw-bold py-3" href="#team">Team</a></li>
            </ul>
            <div class="d-grid d-lg-flex align-items-center">
              <div class="nav-item d-flex align-items-center d-none d-lg-block pe-2"></div>
              <a th:if="${session.sessNameUsr != null}" class="btn btn-link text-900 order-1 order-lg-0 ps-4 me-lg-2" th:href="@{/v1/infra/member/myPageUsrForm}">[[${session.sessNameUsr}]]</a>
              <a th:unless="${session.sessNameUsr != null}" class="btn btn-link text-900 order-1 order-lg-0 ps-4 me-lg-2" th:href="@{/v1/infra/member/signinUsrForm}">로그인</a>
              <a th:if="${session.sessNameUsr != null}" class="btn btn-phoenix-primary order-0"><span class="fw-bold"><button id="btnSignOut">로그아웃</button></span></a>
              <a th:unless="${session.sessNameUsr != null}" class="btn btn-phoenix-primary order-0" th:href="@{/v1/infra/member/signupUsrForm}"><span class="fw-bold">회원가입</span></a>
            </div>
          </div>
        </nav>
      </div>
      <section class="bg-white pb-8" id="home">
        <div class="container-small hero-header-container px-lg-7 px-xxl-3">
          <div class="row align-items-center">
            <div class="col-12 col-lg-auto order-0 order-md-1 text-end order-1">
              <div class="position-relative p-5 p-md-7 d-lg-none">
                <div class="bg-holder" style="background-image:url(/usr/v1/template/phoenix-v1.13.0/assets/img/bg/bg-23.png);background-size:contain;">
                </div>
                <!--/.bg-holder-->

                <div class="position-relative"><img class="w-100 shadow-lg d-dark-none rounded-2" src="/usr/v1/template/phoenix-v1.13.0/assets/img/bg/bg-31.png" alt="hero-header" /><img class="w-100 shadow-lg d-light-none rounded-2" src="/usr/v1/template/phoenix-v1.13.0/assets/img/bg/bg-30.png" alt="hero-header" /></div>
              </div>
              <div class="hero-image-container position-absolute top-0 bottom-0 end-0 d-none d-lg-block">
                <div class="position-relative h-100 w-100">
                  <div class="position-absolute h-100 top-0 d-flex align-items-center end-0 hero-image-container-bg"><img class="pt-7 pt-md-0 w-100" src="/usr/v1/template/phoenix-v1.13.0/assets/img/bg/bg-1-2.png" alt="hero-header" /></div>
                  <div class="position-absolute h-100 top-0 d-flex align-items-center end-0"><img class="pt-7 pt-md-0 w-100 shadow-lg d-dark-none rounded-2" src="/usr/v1/template/phoenix-v1.13.0/assets/img/bg/bg-28.png" alt="hero-header" /><img class="pt-7 pt-md-0 w-100 shadow-lg d-light-none rounded-2" src="/usr/v1/template/phoenix-v1.13.0/assets/img/bg/bg-29.png" alt="hero-header" /></div>
                </div>
              </div>
            </div>
            <!-- 메인 인덱스 화면 -->
            <div class="col-12 col-lg-6 text-lg-start text-center pt-8 pb-6 order-0 position-relative">
              <h1 class="fs-5 fs-lg-6 fs-md-7 fs-lg-6 fs-xl-7 fs fw-black mb-4"><span class="text-primary me-3">소개 제목</span></h1>
              <p class="mb-5">간단한 소개</p><a class="btn btn-lg btn-outline-primary rounded-pill me-2" th:href="@{/v1/csfn/group/groupUsrList}" role="button">시작하기<i class="fa-solid fa-angle-right ms-2"></i></a>
              <!--시작버튼 가운데-->
              <!-- <div class="text-center">  
                <a class="btn btn-lg btn-outline-primary rounded-pill me-2" href="#!" role="button">시작하기<i class="fa-solid fa-angle-right ms-2"></i></a>
              </div> -->
            </div>
          </div>
        </div>
      </section>


      




      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="pt-15 pb-0" id="feature">
        <!-- 프로젝트 소개 -->
        <div class="container-small px-lg-7 px-xxl-3">
          <div class="position-relative z-index-2">
            <div class="row">
              <div class="col-lg-6 text-center text-lg-start pe-xxl-3">
                <h4 class="text-primary fw-bolder mb-4">프로젝트 이름</h4>
                <h2 class="mb-3 text-black lh-base">프로젝트 주제 <br class="d-md-none" /></h2>
                <p class="mb-5">프로젝트 설명~~~~</p>
              </div> 
            </div>                                  
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->    
      <!-- footer -->
      <div class="position-relative">
        <div class="bg-holder footer-bg" style="background-image:url(/usr/v1/template/phoenix-v1.13.0/assets/img/bg/bg-19.png);background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder" style="background-image:url(/usr/v1/template/phoenix-v1.13.0/assets/img/bg/bg-right-20.png);background-position:right;background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="bg-holder" style="background-image:url(/usr/v1/template/phoenix-v1.13.0/assets/img/bg/bg-left-20.png);background-position:left;background-size:auto;">
        </div>
        <!--/.bg-holder-->

        <div class="position-relative">
          <svg class="w-100 text-white" preserveAspectRatio="none" viewBox="0 0 1920 368" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1920 0.44L0 367.74V0H1920V0.44Z" fill="currentColor"></path>
          </svg>


          <!-- ============================================-->
          <!-- <section> begin ============================-->
			  <!--footer-->
          <section class="footer-default">

            <div class="container-small px-lg-7 px-xxl-3">
              <div class="row position-relative">
                <div class="col-12 col-sm-12 col-lg-5 mb-4 order-0 order-sm-0"><a th:href="@{/}"><img class="mb-3" src="/usr/v1/template/phoenix-v1.13.0/assets/img/icons/logo-white.png" height="48" alt="" /></a>
                  <h3 class="text-white light">phoenix</h3>
                  <p class="text-white opacity-50 light">All over the world. Alice in <br />wonderland and other places.</p>
                </div>
                <div class="col-lg-7">
                  <div class="row justify-content-between">
                    <div class="col-6 col-sm-4 col-lg-3 mb-3 order-2 order-sm-1">
                      <div class="border-dashed border-start border-primary-300 ps-3" style="--phoenix-border-opacity: .2;">
                        <h5 class="fw-bolder mb-2 text-light light">Help</h5>
                        <ul class="list-unstyled mb-3">
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">About</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Contact</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Developers</a></li>
                        </ul>
                      </div>
                      <div class="border-dashed border-start border-primary-300 ps-3" style="--phoenix-border-opacity: .2;">
                        <h5 class="lh-lg fw-bolder mb-2 text-light light">Follow</h5>
                        <ul class="list-unstyled mb-2">
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Facebook</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Twitter</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Linkedin</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb-3 order-3 order-sm-2">
                      <div class="border-dashed border-start border-primary-300 ps-3" style="--phoenix-border-opacity: .2;">
                        <h5 class="lh-lg fw-bold text-light mb-2 light">Support</h5>
                        <ul class="list-unstyled mb-md-2">
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Privacy</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Community</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Contact</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Blog</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">FAQ</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Project</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Team</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb-3 order-3 order-sm-2">
                      <div class="border-dashed border-start border-primary-300 ps-3" style="--phoenix-border-opacity: .2;">
                        <h5 class="lh-lg fw-bold text-light mb-2 light"> Info</h5>
                        <ul class="list-unstyled mb-md-2">
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Personal</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">NFT System</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Agency</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">Contact</a></li>
                          <li class="mb-1"><a class="text-500 hover-text-100 light" href="#!">About</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- end of .container-->

          </section>
          <!-- <section> close ============================-->
          <!-- ============================================-->


        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    
    <script>
			if(document.getElementById("btnSignOut")){
				document.getElementById("btnSignOut").onclick = function () {
						$.ajax({
							async: true
							, cache: false
							, type: "post"
							/* ,dataType:"json" */
							, url: "/v1/infra/member/signoutUsrProc"
							/* ,data : $("#formLogin").serialize() */
							, data: {"ifmmName": $("#ifmmName").val(), "ifmmId": $("#ifmmId").val(), "ifmmPwd": $("#ifmmPwd").val()}
							, success: function (response) {
								if (response.rt == "success") {
									location.href = "/";
								}
							}
							, error: function (jqXHR, textStatus, errorThrown) {
								alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
							}
						});
					}
				}
		</script>
		
    <div th:replace="~{usr/v1/infra/include/linkJs :: linkJs}"></div>

  </body>

</html>