<div th:replace="~{xdm/v1/infra/include/headFull :: headFull}"></div>

  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      <div class="container">
        <div class="row flex-center min-vh-100 py-5">
          <div class="col-sm-10 col-md-8 col-lg-5 col-xl-5 col-xxl-3"><a class="d-flex flex-center text-decoration-none mb-4" href="../../../index.html">
              <div class="d-flex align-items-center fw-bolder fs-5 d-inline-block"><img src="/xdm/v1/template/phoenix-v1.13.0/assets/img/icons/logo.png" alt="phoenix" width="58" />
              </div>
            </a>
            <div class="text-center mb-7">
              <h3 class="text-1000">Sign In</h3>
              <p class="text-700">Get access to your account</p>
            </div>
            <button class="btn btn-phoenix-secondary w-100 mb-3"><span class="fab fa-google text-danger me-2 fs--1"></span>Sign in with google</button>
            <button class="btn btn-phoenix-secondary w-100"><span class="fab fa-facebook text-primary me-2 fs--1"></span>Sign in with facebook</button>
            <div class="position-relative">
              <hr class="bg-200 mt-5 mb-4" />
              <div class="divider-content-center">or use email</div>
            </div>
            <div class="mb-3 text-start">
              <label for="ifmmId" class="form-label">ID</label>
              <div class="form-icon-container">
                <input type="text" id="ifmmId" name="ifmmId"  placeholder="name@example.com" class="form-control form-icon-input"/><span class="fas fa-user text-900 fs--1 form-icon"></span>
                <div class="invalid-feedback" id="ifmmIdFeedback"></div>
              </div>
            </div>
            <div class="mb-3 text-start">
              <label for="ifmmPassword" class="form-label">Password</label>
              <div class="form-icon-container">
                <input type="password" id="ifmmPassword" name="ifmmPassword" placeholder="Password" class="form-control form-icon-input" /><span class="fas fa-key text-900 fs--1 form-icon"></span>
                <div class="invalid-feedback" id="ifmmPasswordFeedback"></div>
              </div>
            </div>
            <div class="row flex-between-center mb-7">
              <div class="col-auto">
                <div class="form-check mb-0">
                  <input type="checkbox" id="autoLogin" name="autoLogin" class="form-check-input" checked/>
                  <label for="autoLogin" class="form-check-label mb-0">Remember me</label>
                </div>
              </div>
              <div class="col-auto"><a class="fs--1 fw-semi-bold" href="../../../pages/authentication/simple/forgot-password.html">Forgot Password?</a></div>
            </div>
            <button class="btn btn-primary w-100 mb-3" id="buttonSignIn">Sign In</button>
            <div class="text-center"><a class="fs--1 fw-bold" href="/infra/index/indexXdmView">Create an account</a></div>
          </div>
        </div>
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->
                                       
<div th:replace="~{xdm/v1/infra/include/customizeFull :: customizeFull}"></div>

<div th:replace="~{xdm/v1/infra/include/modal :: modal}"></div>

<div th:replace="~{xdm/v1/infra/include/linkJsFull :: linkJsFull}"></div>


<script type="text/javascript">

	validation = function() {
		if(!checkNull('ifmmId', 2, "ID를 입력해 주세요.")) return false;
		if(!checkNull('ifmmPassword', 2, "비밀번호를 입력해 주세요.")) return false;
	}

	document.getElementById("buttonSignIn").onclick = function () {
		
		if(validation() == false) return false;
	
		$.ajax({
			async: true 
			,cache: false
			,type: "post"
			/* ,dataType:"json" */
			,url: "/v1/infra/member/signinXdmProc"
			/* ,data : $("#formLogin").serialize() */
			,data : { "ifmmId" : $("#ifmmId").val(), "ifmmPassword" : $("#ifmmPassword").val(), "autoLogin" : $("#autoLogin").is(":checked")}
			,success: function(response) {
				if(response.rt == "success") {
					if(response.changePwd == "true") {
						location.href = "/v1/infra/member/expiredPwdUsrForm";
					} else {
						location.href = "/v1/infra/index/indexXdmView";
					}
				} else {
			 		document.getElementById("modalAlertTitle").innerText = "확 인";
			 		document.getElementById("modalAlertBody").innerText = "일치하는 회원이 존재 하지 않습니다!";
			 		$("#modalAlert").modal("show");
				}
			}
			,error : function(jqXHR, textStatus, errorThrown){
				alert("ajaxUpdate " + jqXHR.textStatus + " : " + jqXHR.errorThrown);
			}
		});
	}

// document.getElementById("buttonSignIn").onclick = function () {
	
// 		document.getElementById("modalAlertTitle").innerText = "확 인";
// 		document.getElementById("modalAlertBody").innerText = "진심입니까? 과연 그럴까요 ?????";
// 		$("#modalAlert").modal("show");
// }

</script>

  </body>
</html>